{% load static %}
<!--- bottom_navbar-->
        {% comment %} <div class=" style="margin-top: -23px;"> {% endcomment %}
            <div class="bottom_navbar  justify_c position_r align_c ">
                
                <div style="display: flex;height: 100%; align-items: center;">
                    <div class="arrow_mark position_r display_f justify_c align_c">
                        <i class="fa-solid fa-chevron-left" id="backward_btn"></i>
                    </div>
                        <marquee behavior="scroll" direction="left" id="marquee">
                            <a href="#Australia" class="slide" style="margin: 0; padding:0; margin-right: 10px;">Australia</a>
                            <a href="#Canada" class="slide" style="margin: 0; padding: 0;margin-right: 10px;">Canada</a>
                            <a href="#China" class="slide" style="margin: 0; padding: 0;margin-right: 10px;">China</a>
                            <a href="#Dubai" class="slide" style="margin: 0; padding: 0;margin-right: 10px;">Dubai</a>
                            <a href="#Ethiopia" class="slide" style="margin: 0; padding: 0;margin-right: 10px;">Ethiopia</a>
                            <a href="#India" class="slide" style="margin: 0; padding: 0;margin-right: 10px;">India</a>
                            <a href="#Japan" class="slide" style="margin: 0; padding: 0;margin-right: 10px;">Japan</a>
                            <a href="#Kuwait" class="slide" style="margin: 0; padding: 0;margin-right: 10px;">Kuwait</a>
                            <a href="#Lativa" class="slide" style="margin: 0; padding: 0;margin-right: 10px;">Lativa</a>
                            <a href="#Saudi Arabia" class="slide" style="margin: 0; padding: 0;margin-right: 10px;">Saudi
                                Arabia</a>
                            <a href="#Singapore" class="slide" style="margin: 0; padding: 0;margin-right: 10px;">Singapore</a>
                        </marquee>
                    <div class="arrow_mark position_r display_f justify_c align_c">
                        <i class="fa-solid fa-chevron-right" id="forward_btn"></i>
                    </div>
                </div>
                
            </div>
        {% comment %} </div> {% endcomment %}