{% extends 'default/index.html' %}
{% load static %}
{% block content %}
  <!-- Content -->
  <div class="Common_content" style="background-color:white; margin-top: 70px; width:100%;height: auto;">
      <div class="content_zone">
        <div class="font_family_R display_f justify_c font_b" style="color: black; font-size: 30px;">
          <p>Software & IT</p>
        </div>
        <div class="heading_title">
          <p>Enthuse the NextGen with our endowment.
            We craft it to ensue!</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
          <p>RASA software & IT Solutions is a connoisseur training and professional services segment specializing in Software Development, Training and IT Service Management. Since 2015, RASA has provided leading edge technologies throughout the world. Our services and business approach includes Training-Point and Mentor-Point.</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
          <p>RASA is dedicated in providing you with the best training and consulting experience possible. Whether you are a training centre in need of a Training Consultant, or a Global company looking for consulting-training, we are here to serve your needs.</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
          <p>RASA strive its ability to provide custom training solutions that meet the needs of our clients.</p>
        </div>
        <div class="font_family_R font_b">
            <p>RASA proffer to:</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
            <li>Full Setup and configuration assistance -Website, App, ERP, etc.</li>
            <li>Consultancy and Know-How</li>
            <li>Product consultation & training courses</li>
            <li>Cloud Service</li>
            <li>Real time tracking</li>
            <li>Full cover maintenance</li>
        </div>
      </div>
  </div>
{% endblock %}