{% extends "default/index.html" %}
{% load static %}
{% block content %}


<!-- Content -->
<div class="Common_content" style="background-color: #0d0038;">
    <div class='details_content'>
        <div class="ceo_title font_family_R display_f justify_c">
            <p>CEO Message</p>
        </div>
        <div  class="detail_1">
            <div class="heading_title">
                <p>When the shadow of a tree is bent; Straighten the tree, not the shadow
                </p>
                <p>- African Proverb</p>
            </div>


            <div class="bold_heading font_family_R" style="padding: 20px 0px 0px 0px;">
               <p>Welcome to <em class="font_family_R" style="font-style: normal;">RASA!</em></p>
            </div>

            <div class="font_family_R text_align_j color_w padding_1px">
                <p>As you maneuver our website, I hope you discover more 
                about the qualities that make our company an outstanding 
                provider of essential consulting services and a wonderful 
                place to fabricate your line of success in career and 
                business.</p> 
            </div>

            <div class="bold_heading font_family_R">
                <p>We provide service with a human touch</p>
            </div>

            <div class="font_family_R text_align_j color_w padding_1px line_h">          
                <p>
                We have earned the trust and respect of the customers for one simple reason—we have great populace. They are experts in their fields. They bring a strong service ethos to everything they do. They take pride and ownership in the jobs they do. We bring passion, pride and experience together.
                </p>
            </div>

            <div class="bold_heading font_family_R">
                <p>We make a positive difference in people’s career and lives.</p>
            </div>

            <div class="font_family_R text_align_j color_w padding_1px line_h">
                <p>At RASA, we have earned a reputation for serving our clients to transform the way in which their organization goes joie de vivre. RASA has earned a reputation for delivering on-time that truly makes a difference.</p>
            </div>

            <div class="bold_heading font_family_R">
                <p>We have a client-first philosophy</p>
            </div>

            <div class="font_family_R text_align_j color_w padding_1px line_h">
                <p>We have only one objective: to ensure our clients mission; objectives are achieved with the highest level of capability and assurance, and at the lowest possible outlay.</p>
            </div>

            <div class="bold_heading font_family_R">
                <p>We have true international reach</p>
            </div>
            <div class="font_family_R text_align_j color_w padding_1px line_h">
                <p>We have worked in many of the most demanding and secure environments in the world, and our global reach means that we can support our clients wherever their needs require. As part of RASA, we are able to draw upon the accumulated knowledge of an organization that has set new standards of excellence in various sectors of consulting services including human resources, business support, transportation, healthcare, and defense. We apply the very best international insights to keep our clients at the leading edge.</p>
            </div>
            <div>
                <p class="bold_heading font_family_R">We live out our values</p>
            </div>
            <div class="font_family_R text_align_j color_w padding_1px line_h">
                <p>RASA’s corporate culture is defined by a simple set of corporate values that define how we operate every single day – Trust, Care, Innovation, and Pride. They reflect how we interact with our clients, our colleagues, and our communities. We hold each other accountable for creating a company we can all be proud to work at.</p>
            </div>
            <div>
                <p class="font_family_R text_align_j color_w padding_1px line_h">I hope this provides you with a few reasons to get to know RASA better. Whether you are a potential customer, a small business partner, or a future employee, we look forward to finding out how we can work together to bring stature to your life.</p>
            </div>
        </div>                     
    </div>
    <div class="Side_profile position_f">
        <div class="profile_circle">
            <img src="{% static 'images/ceo_img.jpg' %}" alt="">
        </div>
    </div>
</div>
       

{% endblock %}