<!-- footer -->
        <div id="waterdrop"></div>
            <div class="footer text_align_c font_family_R">
                <div class="footer_content display_f">
                    <div class="contact_content">
                        <p style="font-weight: bold; color:darkorange; display: flex;">Contact Us</p>
                        <p style="display: flex">info@rasamrc.com</p>
                        <p style="display: flex">+91 451 2400255</p>
                    </div>
                    <div class="address_content">
                        <p style="font-weight: bold; color:darkorange;">Address</p>
                        <p>#73,SSR Towers, Second Floor,</p>
                        <p>RS Road, Nagal Nagar,</p>
                        <p>Dindigul - 624 003, Tamil Nadu, India.</p>    
                    </div>
                    <div class="Work_days display_f">
                        <div style="width: 45%; text-align: left;" class="">
                            <p>Monday</p>
                            <p>09:30 am</p>
                            <p>Saturday</p>
                            <p>9.30 am</p>
                            <p style="font-weight: bold;">Sunday</p>
                        </div>
                        <div style="width: 10%;" class="margin_d text_align_c">
                            <p>-</p>
                            <p>-</p><br>
                            <p>-</p>
                            <p style="font-weight: bold;">-</p>
                        </div>
                        <div style="width: 45%; text-align: left;" class="margin_d">
                            <p>Friday</p>
                            <p>05:30 PM</p><br>
                            <p>1.30 pm</p>
                            <p style="font-weight: bold;">Closed</p>
                        </div>
                        
                    </div>

                    <div class="govt ">
                        <p style="font-weight: bold; color:darkorange;">APPROVED BY</p>
                        <p>MINISTRY OF</p>
                        <p style="font-weight: bold; font-size: 20px;">EXTERNAL AFFAIRS</p>
                        <p>GOVERNMENT OF INDIA</p>
                        
                         
                    </div>
                    <div class="Map ">
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15699.378945021705!2d77.9783659!3d10.354297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd580baebd8a76323!2sRASA%20MANAGEMENT%20AND%20RECRUITMENT%20CONSULTANCY!5e0!3m2!1sen!2sin!4v1619288611810!5m2!1sen!2sin"
                        width="350" height="140" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div>
                    <p style="color: white;">All rights reserved © 2023 — RASA Management & Recruitment Consultancy.</p>
                </div>
                <div class="creator justify_c align_c display_f font_family_R">
                    <p>Designed And Developed by <em style="color: yellow; font-weight: bold; font-style: normal;">Quantanics Teshserv</em></p>
                </div>
            
            </div>
        </div>