{% extends "default/index.html" %}
{% load static %}
{% block content %}


<!-- Content -->
<div class="content">
        
    <!-- Include Image Slideshow -->
    {% include "default/dashboard_slideshow.html" %}

    <!-- Include Current Vacancies Navigation Menu -->
    {% include "default/current_vacancies.html" %}

    
    <!--Our Services -->
    <h2 class="display_f padding_d margin_d font_family_R justify_c">Our Services</h2>
    <div class="row_1 display_f ">
            <div class="normal-div-border_1 flex_c font_family_R margin_d display_f" data-aos="flip-left">
                <div class="hovicon effect-8 position_a align_c justify_c display_f">
                    <i class="fa-solid fa-volume-high circle_icon"></i>
                </div>

                <div  class="serv_title">
                    <p>HR & Career Outsourcing</p>
                </div>

                <div class="sec_text">
                    <p>SPARK / SUCCEED / SHINE</p>
                </div>

                <div class="description">
                    <p>Opt RASA; Cherish your Career; Thrive your Future !</p>
                </div>
            </div>
        
        <div class="normal-div-border_1 flex_c font_family_R margin_d display_f" data-aos="flip-left">
            <div class="hovicon effect-8 position_a align_c justify_c display_f ">
                <i class="fa-solid fa-book-open-reader circle_icon"></i>
            </div>

            <div class="serv_title">
                <p>Education Stratagem</p>
            </div>

            <div class="sec_text">
                <p>LEARN / EARN / EXCEL</p>
            </div>
            
            <div class="description">
                <p>Choose RASA; Reverie your Overseas Edification; Aspire your Goals !</p> 
            </div>   
        </div>
        <div class="normal-div-border_1 flex_c font_family_R margin_d display_f" data-aos="flip-left">
            <div class="hovicon effect-8 position_a align_c justify_c display_f">
                <i class="fa-brands fa-microsoft circle_icon"></i>
            </div>

            <div  class="serv_title">
                <p>Software & IT</p>
            </div>

            <div class="description">
                <p>Enthuse the NextGen with our endowment. We craft it to ensue!</p>
            </div>
            
        </div>
    </div>

    <div class="row_2 display_f">
        <div class="normal-div-border_1 flex_c font_family_R margin_d display_f" data-aos="flip-left">
            <div class="hovicon effect-8 position_a align_c justify_c display_f">
                <i class="fa-solid fa-chart-column circle_icon"></i>
            </div>
            <div class="serv_title">
                <p>Operations Management</p>
            </div>

            <div class="sec_text">
                <p>FACILITY / EVENT / INNOVATIVE</p>
            </div>

            <div class="description">
                <p>Effective, Efficient and Expeditious !</p>
            </div>
        </div>
        <div class="normal-div-border_1 flex_c font_family_R margin_d display_f" data-aos="flip-left">
            <div class="hovicon effect-8 position_a align_c justify_c display_f">
                <i class="fa-solid fa-business-time circle_icon"></i>
            </div>
            <div class="serv_title">
                <p>Business Transformation & Development</p>
            </div>

            <div class="sec_text">
                <p>DISCOVER / INVEST / GROW / TRANSFORM</p>
            </div>

            <div class="description">
                <p>RASA TO-TO business model</p>  
            </div>
        </div>
        <div class="normal-div-border_1 flex_c font_family_R margin_d display_f" data-aos="flip-left">
            <div class="hovicon effect-8 position_a align_c justify_c display_f">
                <i class="fa-solid fa-paperclip circle_icon"></i>
            </div>

            <div class="serv_title">
                <p>Legal Arbitration & Acquiescence</p>
            </div>
            
            <div class="sec_text">
                <p>CLEAR / CONCISE / ADVOCATE</p>
            </div>
            
            <div class="description">
                <p>RASA endures the righteousness and your morals !</p>
            </div>
        </div>
    </div>

    <!-- Our Patrons -->
    <div class="our_patrons">
        <p class="patron_title">Our Patrons</p>
        {% comment %} <div class="patron_content">
            jdflvbjbvvdsjh dk
        </div> {% endcomment %}
    </div>

    <div style="margin-top: 80px;">

    </div>

{% endblock %}