{% extends "default/index.html" %}
{% load static %}
{% block content %}

<!-- Content -->
<div class="Common_content" style="background-color: #0d0038;">
    <div class='details_content'>
        <div class="ceo_title font_family_R display_f justify_c">
            <p>Who We Are</p>
        </div>
        <div  class="detail_1">
            <div class="heading_title" style="margin-top: 20px;">
                <p>Education / Employment / Business Consulting</p>
                <p>RASA committed to Excel exceptionally in Consulting Conglomerate</p>
            </div>
            <hr>
            <div class="font_family_R text_align_j color_w padding_1px">
                <p>RASA is an ambitious and tutelage Consulting Organization and it encompasses to spread its service for the integral consulting ecosystem. The name RASA itself symbolizes: our Radiant nature with Ardent dedication towards works springing Scalable growth fetching Assertive outcome.
                </p> 
            </div>
            <div class="font_family_R text_align_j color_w padding_1px line_h">          
                <p>Our charisma in each of the consulting fathom will be marked with technology-enabled products, high quality people, well thought-out processes and entrepreneurial leadership, that come together to deliver consummate significance. From pre-school toddlers to doctoral students, from core curriculum subjects at the school & college level to vocational & employability skills for young, about-to-enter-the-job-market adults; RASA will be accomplishing to the entire consulting pitch.</p>
            </div>
            <div class="font_family_R text_align_j color_w padding_1px line_h">
                <p>We design and develop the scenario specifically to meet the organizational requirements. We work across all industry sectors, employing a simple yet effective approach to each project. By developing long-term strategic partnerships with Private and Public sector organizations, we give a specialized focus on the needs of our clients. One of the key goals for the RASA team is to establish a Human Resources infrastructure that supports employers, owners and managers in their current business and the future growth requirements.</p>
            </div>
            <div class="font_family_R text_align_j color_w padding_1px line_h">
                <p>RASA has a team of experts to provide comprehensive support for the companies, institutions and other units in the public and private sector in the area of selection and recruitment of qualified personnel. We guarantee a full outsourcing service for the entire recruitment process.</p>
            </div>

            <div class="font_family_R text_align_j color_w padding_1px line_h">
                <p>RASA offers consultancy services to the clients worldwide, which comprises of:</p>        
                <li>Recruitment services</li>
                <li> Technical Consultancy</li>
                <li>Facility Management</li>
                <li>Software Development</li>
                <li>Business transformation</li>
                <li>Education</li>
            </div>
        </div>                      
    </div>
    <div class="Side_profile position_f">
        <div class="profile_circle">
            <img src="{% static 'images/ceo_img.jpg' %}" alt="">
        </div>

    </div> 
</div>


{% endblock %}