{% load static %}
<div class="Background_images">
            <div class="dot_content position_a display_f justify_c">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>

            </div>

            <!-- RASA logo Design -->

            <div class="bottom_layer position_a">
                <div class="card_logo position_r ">
                    <div class="cont">
                        <div class="ml9">
                            <span class="text-wrapper">
                                <span class="letters"><span class="x">R</span><span class="x">A</span><span class="x">S</span><span class="x">A</span></span>
                            </span>
                        </div>
                        <hr style="margin: 0;padding: 0;border: 0;border-top: 1px solid white;">
                        <div class="card-logo">
                            <p style="padding: 0;margin: 0;">Educate</p>|
                            <p style="padding: 0;margin: 0;">Employ </p>|
                            <p style="padding: 0;margin: 0;">Entrepreneur</p>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} <img src="{% static 'images/bg.jpeg' %}" class="mySlides"> {% endcomment %}
            <img src="{% static 'images/bg_2.jpg' %}" class="mySlides">
            <img src="{% static 'images/bg_3.jpg' %}" class="mySlides">
            <img src="{% static 'images/bg_4.jpg' %}" class="mySlides">
            <img src="{% static 'images/bg_5.jpg' %}" class="mySlides">
            <img src="{% static 'images/bg_6.jpg' %}" class="mySlides">
            <img src="{% static 'images/bg_7.jpg' %}" class="mySlides">
        </div>