{% extends 'default/index.html' %}
{% load static %}
{% block content %}
  <!-- Content -->
  <div class="Common_content" style="background-color:white; margin-top: 70px; width:100%;height: auto;">
      <div class="content_zone">
        <div class="font_family_R display_f justify_c font_b" style="color: black; font-size: 30px;">
          <p>Education Stratagem</p>
        </div>
        <div class="heading_title">
          <p>LEARN / EARN / EXCEL</p>
          <p>Choose RASA; Reverie your Overseas Edification; Aspire your Goals !</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
          <p>The persistence of highly qualified experts in the edu-network makes RASA distinctive and exceptional.</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
          <p>We give a hand to the invincible students of Africa to pursue their higher education overseas with partial or full scholarships. We have excellent associations with universities in India and across the globe. </p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
          <p>The prospect of student’s life is highly dependent on their specific career and their choice of field. Hence, RASA renders guidance on career choice putting careful consideration into students’ interests and talents making our company unique. We do this by dedicating a lot of time in delving into the paramount robust individually.</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
            <p>We are conceited for delivering the best effort to the budding crafts of the Garden of the Eden.</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
            <p>One of our specialties is to facilitate the African Students to continue their studies with Scholarship for their Undergraduate, post graduate and doctoral programmes in India and other countries with world class institutions. For this rationale, we created excellent linkages with the premier institutions in India and across the globe. As outlook verve of the learners depend up on what they are going to learn, we acutely consider it and elucidate all possibilities and give them apt assistance. This made RASA to become very trustworthy.</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
            <p>In toting up to that, starting application processes increases the chance of getting acceptance at highly ranked universities.</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
            <p>The strategy and dealings of RASA are very beneficial to persuade the African students.</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
            <p>You will be a salutation into a blossoming student-led knowledge milieu.</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
            <p>We vow to guarantee that our clientele obtain the best heed and prop up, so that they experience idyllic progression and are able to prosper and attain academically inimitable. RASA squads are able-bodied and accomplished to exertion with juvenile populace to support the application process and craft it triumphant.</p>
        </div>
        <div class="font_family_R font_b">
            <p>Training</p>
          </div>
        <div class="font_family_R text_align_j  padding_1px">
            <p>Our training solutions include both soft and life skills. We serve and offer training program, where we shall carry the workforce up the learning curve in a fast, cost-effective and timely manner. This not only saves learning time but also helps build and refine a client’s workforce, leading to operational excellence and an improvement in the use of language at work.</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
            <p>Training program comprises of long term and short term durations on all specialized technical topics such as Cyber security, Networking, software, Engineering, etc which is fully funded, partially funded or paid mode. We also serve to our clients globally both in Education sectors and Corporate sectors.</p>
        </div>
      </div>
  </div>
{% endblock %}