{% extends 'default/index.html' %}
{% load static %}
{% block content %}
  <!-- Content -->
  <div class="Common_content" style="background-color:white; margin-top: 70px; width:100%;height: auto;">
    <div class="content_zone">
      <div class="font_family_R display_f justify_c font_b" style="color: black; font-size: 30px;">
        <p>Operations Management</p>
      </div>
      <div class="heading_title">
        <p>FACILITY / EVENT / INNOVATIVE SOLUTIONS</p>
        <p>Effective, Efficient and Expeditious !</p>
      </div>
      <div class="font_family_R text_align_j padding_1px">
        <p>RASA provides event planning, operational management and innovative solutions consultancy across the globe to Organizing Committees, Government Departments / Agencies, Rights holders, International Federations, Sponsors and External Partners.</p>
      </div>
      <div class="font_family_R text_align_j padding_1px">
        <p>We would like to provide adaptable and innovative solutions, achieving the events high level targets and providing a lasting bequest for the community, whilst delivering the highest possible levels of service for all clients.</p>
      </div>
      <div class="font_family_R text_align_j padding_1px">
        <p>RASA’s vast range of experience allows us to provide an in-depth knowledge of the inner workings of operations and facility management.</p>
      </div>
      <div class="font_family_R font_b">
        <p>Our Operations Management solutions comprises of:</p>
      </div>
      <div class="font_family_R text_align_j padding_1px justify_c">
        <li>Transport Program Strategy</li>
        <li>Organisational Design and Operations</li>
        <li>Budget and Resource Planning and Management</li>
        <li>Facilities for Athletes, Media, Officials, Sponsors, Workforce and Spectators</li>
        <li>VIP Transport, Arrivals and Departures</li>
        <li>Vehicle Access and/or Parking Permit</li>
        <li>Traffic Management and Traffic Operations on public roads and in venues</li>
        <li>Public, Spectator and Event facilitation</li>
        <li>Transport Operation Centre, Traffic Management Centre and Traffic Control Centre design, planning and delivery</li>
        <li>Ceremonies Planning and Operations</li>
        <li>Games Lanes Design, Access and Management</li>
        <li>Travel Demand Management and Communication</li>
        <li>Risks and Issues Identification and Management</li>
        <li>Stakeholder Liaison</li>
        <li>Workforce Planning and Operations</li>
        <li>Headcount, Dot Planning and Scheduling</li>
        <li>Clearing and Forwarding Management</li>
        <li>Mass Media Programs</li>
        <li>International Fairs</li>
      </div>
    </div>
  </div>
{% endblock %}
