{% extends "default/index.html" %}
{% load static %}
{% block content %}


<!-- Content -->
<div class="career-main-div" >
    <div style="width: 90%;margin-left: auto;margin-right: auto;max-width: 60em;"> 
                <div style="display: flex; justify-content: center;align-items: center;"><h1><i>Welcome to RASA Family!</i></h1></div>
                <p>We be acquainted with the hiring processes can seem awe-inspiring, but we don’t want you to feel besieged at RASA. We want all candidates – from entry level to leadership – to have access to the same information and resources; after all, our mission is to organize the Global information and make it universally accessible and useful.</p>
                <p>RASA’s hiring process is an important part of our culture. RASA’s heed profoundly about their teams and the people who make them up. We also care about building a more representative and inclusive workplace, and that begins with hiring. In order to truly build for everyone, we know that we need a diversity of perspectives and experiences, and a fair hiring process is the first step in getting there.</p>
                <p>Have you ever discovered you’re good at something you’re not passionate about? Many of us have. This may be a result of the work you like to do, or it may be something you’ve had to get good at because of a previous project or role. The more skills you have the better — but it’s hard to build a fulfilling career on something that doesn’t excite you. Before you start applying, take some time to ask yourself a few of these questions:</p>
                <p><strong><em>What is something you learned that made everything that came after easier?</em></strong></p>
                <p><strong><em>Have more of your achievements come as a result of solitary effort or teamwork?</em></strong></p>
                <p><strong><em>What do you enjoy more, solving problems or pushing the discussion forward?</em></strong></p>
                <p><strong><em>What is the most rewarding job you’ve ever had? Why?</em></strong></p>
                <p><strong><em>Describe the best team you ever worked with. What made that experience stand out?</em></strong></p>
                <p>Now, take a pew with your times past for an instant. Consider all the best, most gratifying elements of your experience, and let them come together to create a picture of where you want to go next in your career.</p>
                <p>Why the visualization exercise? Your skills, interests, and goals are the result of your life, your experiences, your triumphs, and your failures. If we hire you based on your skills, we’ll get a skilled employee. If we hire you based on your skills, and your enduring passions, and your distinct experiences and perspectives, you’ll get RASAfied. That’s what we want.</p>
                <p>Our goal is for you to feel like you know us a bit better, and that you’ve got enough information to feel like you’re applying for the right jobs.</p>
                <p style="display: flex; justify-content: center;align-items: center;"><strong>Apply | Join | Shine – Be RASAfied!</strong></p>
                <p></p>
    </div>
</div>
       

{% endblock %}