{% extends "default/index.html" %}
{% load static %}
{% block content %}

<!-- Content -->
<div class="Common_content" style="background-color: #0d0038;">
    <div class='details_content'>
        <div class="ceo_title font_family_R display_f justify_c">
            <p>COO Message</p>
        </div>
        <div  class="detail_1">
            <div class="heading_title">
                <p>Chances favor the prepared mind</p>
                <p>- Louis Pasteur</p>
            </div>


            <div class="bold_heading font_family_R" style="padding: 20px 0px 0px 0px;">
               <p>GET PREPARED!!!</p>
            </div>

            <div class="font_family_R text_align_j color_w padding_1px">
                <p>We have an incredible team of both administrative and field professionals who share a common goal: to bring value to our customers. When you are looking for the ideal partner to surround your future advancements with success, RASA stands ready to surpass your panorama in your career.
                Since our founding in 2015, we have placed a significant priority on the relationships we have developed with the people who matter most, our valued customers and our loyal staff.
                </p> 
            </div>

            <div class="bold_heading font_family_R">
                <p>Our approach is both professional and personal:</p>
            </div>

            <div class="font_family_R text_align_j color_w padding_1px line_h">          
                <li> We create a consign in service measures that ensure we bring what our customers necessitate.</li>
                <li> We grow one relationship at a time by listening to our customers and delivering personalized service.</li>
                <li>We instil a sense of empowerment and accountability in our staff so our customers receive our best work.</li>
                <li>We take responsibility for helping our customers make educated, value conscious decisions that will return the greatest investment.</li>
            </div>

            <div class="font_family_R text_align_j color_w padding_1px line_h">
                <p>We are persuaded that we hoard incessantly make back into our business, equipment, and our staff is paramount to our clients’ happiness and ultimate contentment. If you are one of our loyal customers, we want to thank you for your option and commitment to RASA and always welcome your feedback. If you tried RASA in the past, we invite you to thoroughly explore our website and/or contact us to learn how we have expanded and improved in ways that can bring you many new benefits.
                    At RASA, we believe just four words defines our commitment to our clients and has been the foundation for our continued growth and success; Quality, Value, Trust & Integrity. We know both remodeling and community management can be very stressful topics for many; especially since both deal with your biggest dreams to your home; so why take the risk? We have been in the consulting services for more than half a decade and were the safest and most reliable choice. Take the risk out of the equation and give us a call today.</p>
            </div>

            <div class="font_family_R text_align_j color_w padding_1px line_h">
                <p>We welcome the opportunity to prove ourselves and be associated in your career and business.</p>
            </div>
        </div>                      
    </div>
    <div class="Side_profile position_f">
        <div class="profile_circle">
            <img src="{% static 'images/ceo_img.jpg' %}" alt="">
        </div>

    </div> 
</div>




{% endblock %}