{% extends "default/index.html" %}
{% load static %}
{% block content %}

<!-- Content -->
<div class="Common_content" style="background-color: #0d0038;">
  <div class='details_content'>
      <div class="ceo_title font_family_R display_f justify_c">
          <p>Our Core Values</p>
      </div>
      <div  class="detail_1">
          <div class="heading_title">
              <p>RASA SYMBOLIZE to be:</p>
          </div>

          <table class="ocv_table font_family_R">
              <tr>
                <td><em class="font_n font_b" style="color: yellow;">S</em>incerity</td>
                <td> - </td>
                <td>We believe utmost <em class="font_n font_b">sincerity</em> is the foundation of long-term relationships.</td>
              </tr>
              <tr>
                <td><em class="font_n font_b" style="color: yellow;">Y</em>es-ability</td>
                <td> - </td>
                <td>We always emphasis on <em class="font_n font_b">yes-ability</em> which enhances our performance within dynamic consulting ecosystem</td>
              </tr>
              <tr>
                <td><em class="font_n font_b" style="color: yellow;">M</em>otivation</td>
                <td> - </td>
                <td>We endeavor to excel good things via <em class="font_n font_b">motivation</em></td>
              </tr>
              <tr>
                <td><em class="font_n font_b" style="color: yellow;">B</em>enevolence</td>
                <td> -  </td>
                <td>We strive to be <em class="font_n font_b">benevolent</em> to clients</td>
              </tr>
              <tr>
                <td><em class="font_n font_b" style="color: yellow;">O</em>pportunity</td>
                <td> -  </td>
                <td>We worth nurturing talent in order to improve, grow and prevail in our niche to your <em class="font_n font_b">opportunity</em></td>
              </tr>
              <tr>
                <td><em class="font_n font_b" style="color: yellow;">L</em>oyalty</td>
                <td> -  </td>
                <td>We believe trust and respect are must for building <em class="font_n font_b">loyalty</em> among partnerships and clients</td>
              </tr>
              <tr>
                <td><em class="font_n font_b" style="color: yellow;">I</em>ntegrity</td>
                <td> -  </td>
                <td>We value every member of our team and support them to bring in <em class="font_n font_b">integrity</em> to improve, develop and excel.</td>
              </tr>
              <tr>
                <td><em class="font_n font_b" style="color: yellow;">Z</em>ealous</td>
                <td> -  </td>
                <td>We provide relationships and fair dealings with respect to the <em class="font_n font_b">zealous</em> of the clients</td>
              </tr>
              <tr>
                <td><em class="font_n font_b" style="color: yellow;">E</em>fficacy</td>
                <td> -  </td>
                <td>We value <em class="font_n font_b">efficacy</em> of nurturing talent in order to improve, grow and prevail in our alcove</td>
              </tr>
            </table>
          
      </div>                        
  </div>
  <div class="Side_profile position_f">
      <div class="profile_circle">
          <img src="{% static 'images/ceo_img.jpg' %}" alt="">
      </div>
  </div>
</div>

{% endblock %}