<!-- Side_bar -->
<div class="sidebar position_f display_f justify_se flex_c align_c">
    <a href="https://www.facebook.com/rasajobs/" class="fa-brands fa-facebook decoration_none side_nav_element"></a>
    <a href="https://twitter.com/managementrasa" class="fa-brands fa-twitter decoration_none side_nav_element"></a>
    <a href="https://www.linkedin.com/in/rasa-management-and-recruitment-consultancy-pvt-ltd-8035851b0/"
        class="fa-brands fa-linkedin decoration_none side_nav_element"></a>
    <a href="https://www.instagram.com/rasa_mrc/" class="fa-brands fa-instagram decoration_none side_nav_element"></a>
    <i class="fa-brands fa-whatsapp side_nav_element"></i>
</div>