{% extends "default/index.html" %}
{% load static %}
{% block content %}


<!-- Content -->

<div style="top: 70px; background-color: #0d0038; position: relative;" >
	<div class="testimonial_title font_family_R justify_c display_f">
		<p  class="margin_d">Testimonials</p>
	</div>
	<div style="width: 90%;margin-left: auto;margin-right: auto;max-width: 60em;">
		<div style="width: 100%;height:15rem; display: flex; border:1px solid white" class="box_shadow">
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">
					
				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t13.webp' %}" alt="" class="testi_img">
				</div>
			</div>
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Dr. Mahesh Singh</p>
					</div>
					<div class="designation">
						<p>Associate Professor</p>
					</div>
					<div class="font_family_R color_w">
						<p>Very reliable and trustworthy services.</p>
					</div>
					
				</div>
			</div>
		</div>

		<div style="width: 100%;height:15rem; display: flex;border:1px solid white" class="box_shadow">
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Dr. Robindro Singh</p>
					</div>
					<div class="designation">
						<p>Associate Professor</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>Positive: Professionalism. Quite supportive, trustworthy, ready to help and Provide best service to the eligible candidate.</p>
					</div>
					
				</div>
			</div>
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">
				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t17.webp' %}" alt="" class="testi_img">
				</div>
			</div>
		</div>
		
		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">

				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t14.webp' %}" alt="" class="testi_img">
					
				</div>
			</div>
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Dr. Jenifer Mahilraj</p>
					</div>
					<div class="designation">
						<p>Associate Professor</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>Positive, Professionalism, Responsiveness, Value</p>
					</div>
					
				</div>
			</div>
		</div>

		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Dr. Medidi Raja Sekhar</p>
					</div>
					<div class="designation">
						<p>Associate Professor</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>The only way to get opportunity is through RASA</p>
					</div>
					
				</div>
			</div>
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">
				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t15.webp' %}" alt="" class="testi_img">
				</div>
			</div>
		</div>

		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">

				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t11.webp' %}" alt="" class="testi_img">
					
				</div>
			</div>
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Dr. S. Shitharth</p>
					</div>
					<div class="designation">
						<p>Associate Professor</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>Such a hassle free procedures without any complexity that too right after surpassing pandemic situation is just stupendous.</p>
					</div>
					
				</div>
			</div>
		</div>

		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Dr. A. Rajesh</p>
					</div>
					<div class="designation">
						<p>Associate Professor</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>They are well planned and crystal clearly executed their task, with zeal and enthusiasm.</p>
					</div>
					
				</div>
			</div>
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">
				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t16.webp' %}" alt="" class="testi_img">
				</div>
			</div>
		</div>


		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">
					
				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t2.webp' %}" alt="" class="testi_img">
					
				</div>
			</div>
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Bemnet Nigatu</p>
					</div>
					<div class="designation">
						<p>BcGBt, 2022 | Ethiopia</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>“My experience with RASA and its team was awesome, they were very helpful. They helped me a lot in the application process and in bringing my dreams true”</p>
					</div>
					
				</div>
			</div>
		</div>

		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Eden Fekadu Gebremeskel</p>
					</div>
					<div class="designation">
						<p>Aeronautical Engineering | Ethiopia</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>My experience with RASA was amazing and I was able to learn a lot of thing and I am really grateful for that.</p>
					</div>
					
				</div>
			</div>
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">
				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t3.webp' %}" alt="" class="testi_img">
				</div>
			</div>
		</div>

		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">

				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t4.webp' %}" alt="" class="testi_img">
					
				</div>
			</div>
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Bisrat Workeneh Abebe</p>
					</div>
					<div class="designation">
						<p>Aeronautical engineering 2nd year | Ethiopia</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>RASA has played a key role in establishing my dreams to come true to become one of the amongst. It has provided wonderful connections with the university to help me to seek what I desire and make my future brighter</p>
					</div>
					
				</div>
			</div>
		</div>

		<div style="width: 100%;height:15rem; display: flex;"class="box_shadow">
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Biruktawit Tilahun Taye</p>
					</div>
					<div class="designation">
						<p>BSC-BCGBT | Ethiopia</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>“My experience with RASA and its team was awesome, they were very helpful. They helped me a lot in the application process and in bringing my dreams true”</p>
					</div>
					
				</div>
			</div>
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">
				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t5.webp' %}" alt="" class="testi_img">
				</div>
			</div>
		</div>

		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">

				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t6.webp' %}" alt="" class="testi_img">
					
				</div>
			</div>
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Abel Taye Mohammed</p>
					</div>
					<div class="designation">
						<p>M.Tech- Energy and Environmental Management | Ethiopia</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>“Currently, am doing my Masters final project. In order to get this scholarship RASA helped me a lot. While I was searching, preparing necessary documents and during my application those RASA team members help were valuable and unforgettable. RASA team members are hard-working, and communicable. Easily I can say that, they helped me in making my dream come true.”</p>
					</div>
					
				</div>
			</div>
		</div>

	
		

		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Meky Abdulwase</p>
					</div>
					<div class="designation">
						<p>Aerospace Engineering | Ethiopia</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>“RASA has helped me in admission to my dream university and my dream course”.</p>
					</div>
					
				</div>
			</div>
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">
				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t8.webp' %}" alt="" class="testi_img">
				</div>
			</div>
		</div>
		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">

				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t9.webp' %}" alt="" class="testi_img">
					
				</div>
			</div>
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Biniyam Aweke Getachew</p>
					</div>
					<div class="designation">
						<p>PhD-Management | Ethiopia</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>“My experience with RASA and its team was awesome, they were very helpful to get my Ph.D. Scholarship and also they have given me the necessary support by responding to my questions at any time”</p>
					</div>
					
				</div>
			</div>
		</div>

		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Dagnew Gebrehiwot Giday</p>
					</div>
					<div class="designation">
						<p>PhD-Research Methodology. | Ethiopia</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>“Thanks to RASA team, I am still getting great support from them. Especially Dr. Rajesh, who is very committed and helpful for us, since the last few months regarding this scholarship. I hope you will continue helping me up to the end and after ending of this scholarship programme. Thanks again.</p>
					</div>
					
				</div>
			</div>
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">
				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t10.webp' %}" alt="" class="testi_img">
				</div>
			</div>
		</div>

		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">

				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t12.webp' %}" alt="" class="testi_img">
					
				</div>
			</div>
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Dr. S. Amuthan</p>
					</div>
					<div class="designation">
						<p>Assistant Professor</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>Awesome Experience with rapid and prompt services, Hats off RASA!</p>
					</div>
					
				</div>
			</div>
		</div>
		<div style="width: 100%;height:15rem; display: flex;" class="box_shadow">
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Mikiyas Fikadu</p>
					</div>
					<div class="designation">
						<p>M Tech Civil Engineering | Ethiopia</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>“My experience with RASA and its team was amazing, they were very helpful. They helped me a lot in the application process, exam preparation and fee structure with the school. Thank you. ”</p>
					</div>
					
				</div>
			</div>
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">
				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t1.webp' %}" alt="" class="testi_img">
				</div>
			</div>
		</div>
		<div style="width: 100%;height:15rem; display: flex; margin-bottom: 50px;" class="box_shadow">
			<div style="width: 30%;display: flex;justify-content: center;align-items: center;position: relative;">
				<div style="width: 55%;height: 90%;background-color: navy;">

				</div>
				<div style="width: 80%;height: 70%;background-color: gray;position: absolute;">
					<img src="{% static 'images/testimonials/t7.webp' %}" alt="" class="testi_img">
				</div>
			</div>
			<div style="width: 70%;" class="display_f justify_c align_c padding_20">
				<div>
					<div class="testimonials_name">
						<p class="margin_d">Eyob Tsegaye Yosefe</p>
					</div>
					<div class="designation">
						<p>Robotics and Automation | Ethiopia</p>
					</div>
					<div class="font_family_R color_w justify_c">
						<p>“My experience with RASA is it helped me to get full scholarship and achieve my dream to be an Engineer.</p>
					</div>
					
				</div>
			</div>
		</div>

	</div>
</div>
       

{% endblock %}